 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Most of us want to help others and do good. It’s the reason why we donate to charities. However, our impact is ultimately limited by a) a lack of knowledge around how to give effectively, b) a lack of awareness around the impact of our donations, both large and small, and c) a lack of creative, effective channels to give that we can immediately access.</p>
                </div>
                <div class="col-lg-4">
                    <p>The importance of proper research in the donation process cannot be understated. Consider the cautionary tale of Playpumps International The nonprofit visited developing-world villages and installed merry-go rounds that pumped water when children played on them. Instead of using the traditional hand pump, villagers could use the playpump to get clean water and children could enjoy their first playground amenity.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
